.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--text-h);
  color: var(--bg);
}

.navbar-links {
  display: flex;
  gap: 15px;
}

.navbar-links a {
  color: var(--bg);
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
}